$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1365px;
// $maxWidthContainerPersonal: 1830;

// *Colors*
$color-background-main: #FFFFFF;
$color-white-transparent: #EFEFEF;
$color-black-main: #2A2A2A;
$color-red-border: #FD2016;
$color-green: #20C863;

// *------*


// *! Fonts*
// $font-family-bold: 'Gilroy-Bold','Arial', sans-serif;
// $font-family-heavy: 'Gilroy-Heavy','Arial', sans-serif;
// $font-family-light: 'Gilroy-Light','Arial', sans-serif;
// $font-family-medium: 'Gilroy-Medium','Arial', sans-serif;
$font-family-regular: 'Manrope','Arial', sans-serif;

$fontSize: 0.84vw;
// *!------*
