$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1365px;
// $maxWidthContainerPersonal: 1830;

// *Colors*
$color-background-main: #FCFCFC;
// *------*


// *! Fonts*
$font-family-bold: 'Gilroy-Bold','Arial', sans-serif;
$font-family-heavy: 'Gilroy-Heavy','Arial', sans-serif;
$font-family-light: 'Gilroy-Light','Arial', sans-serif;
$font-family-medium: 'Gilroy-Medium','Arial', sans-serif;
$font-family-regular: 'Gilroy-Regular','Arial', sans-serif;

$fontSize: 16px;
// *!------*
