@import '__variables.scss';

.header {
     // outline: 1px solid red;
     color: $color-black-main;
     font-size: 0.578vw;
     .icon-circle{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.838vw;
          height: 1.838vw;
          border-radius: 50%;
     }
     &__logo {
          img{
               width: 11.2vw;
          }
          p{
               max-width: 7.458vw;
               line-height: 1.05vw;
               letter-spacing: 0.02em;
               font-weight: 400;
          }
     }

	&__address {
          p{
               line-height: 0.945vw;
          }
          .icon-circle{
               background-image: url('../img/pic/header-map.png');
               background-repeat: no-repeat;
               background-size: cover;
               margin-right: 0.525vw;
               svg{
                    width: 0.368vw;
                    height: 0.389vw;
                    margin-bottom: 0.263vw;
               }
          }
          
	}
     
     &__show-map {
          
          svg{
               margin-right: 0.525vw;
               width: 0.63vw;
               height: 0.788vw;
               margin-top: 0.158vw;
          }
          letter-spacing: 0.05em;
          font-weight: 700;
          line-height: 0.788vw;
     }

     &__popup-toggle {
          .icon-circle{
               background: #F8F8F8;
               margin-right: 0.578vw;
               svg{
                    width: 0.788vw;
                    height: 0.788vw;
               }
          }
          line-height: 0.998vw;
          .dot-border-wrapper{
               letter-spacing: 0.05em;
          }
     }

     &__social {
          p{
               line-height: 0.945vw;
               letter-spacing: 0.03em;
          }
          .social-links{
               .icon-circle{

               }
               .icon-circle.whatsapp{
                    background: $color-green;
                    margin-left: 0.945vw;
                    svg{
                         width: 0.735vw;
                         height: 0.735vw;
                    }
               }
               .icon-circle.telegramm{
                    background: #2FB3F3;
                    margin: 0 0.315vw;
                    svg{
                         width: 0.671vw;
                         height: 0.545vw;
                    }
                    
               }
               .icon-circle.viber{
                    background: #776EE9;
                    svg{
                         width: 0.683vw;
                         height: 0.735vw;
                    }
               }
          }
     }

     &__tel {
          line-height: 0.525vw;
     }
     &__tel-time{
          letter-spacing: 0.02em;
          font-size: 0.63vw;
          margin-bottom: 0.21vw;
          .online-dot{
               margin-right: 0.315vw;
               background: $color-green;
          }
     }
     &__tel-main{
          font-weight: 700;
          font-size: 1.05vw;
          margin: 0.315vw 0;
          .tel-arrow{
               margin-left: 0.525vw;
          }
     }
     &__tel-popup{
          font-size: 0.63vw;
          line-height: 1.103vw;
          letter-spacing: 0.05em;
          svg{
               margin-left: 0.315vw;
               width: 0.315vw;
               height: 0.315vw;
          }
     }
}


.nav {
     &__link {
          a{
               font-weight: 600;
               font-size: 0.63vw;
               line-height: 0.84vw;
               letter-spacing: .15em;
               text-transform: uppercase;
               color: $color-black-main;
          }
     }
}


