//! main imports
@import "_nullset.scss";
@import "__variables.scss";
@import "_mixins.scss";
html{
     height: auto;
     scroll-behavior: smooth;
}
body{
     font-size: $fontSize;
     font-family: $font-family-regular;
     min-width: $minWidth;
     display: flex;
     flex-direction: row;
     background: $color-background-main;
     // height: 100000px;
}

:root{
     // font-size: 2.1333vw;
     font-size: 0.8398950131233596vw;
     // font-size: 16px;
}

.scroll-hint {
     position: sticky;
     width: 7.2917vw;
     // outline: 1px solid red;
     padding-top: 15.6481vh;
     // font-family: p
     max-height: 100vh;
     user-select: none;
     &__line {
          height: 45.1852vh;
          width: 0.2vw;
          // background: $color-white-transparent;
          background: black;
          margin-top: 9.0741vh;
     }

     &__mouse {
     }
     &__text{
          transform: rotate(-90deg);
          // font-size: 2.1333vw;
          font-size: 1rem;
          // letter-spacing: 0.1em;
          // color: $color-white-transparent;
     }

}

@import 'header.scss';

.content{
     width: 100%;
     padding-top: 1.82vw;
     // outline: 1px solid red;
     p{
          margin: 0;
     }
}

.dot-border-wrapper {
     cursor: pointer;

     .dot-border{
          border-bottom: 0.105vw dotted $color-red-border;
          transition: all ease-in .2s;
     }
     &:hover .dot-border{
          position: relative;
          margin-right: calc(100% - 2.626vw)
     }
}



